@font-face {
    font-family: "Stolzl";
    src: url("../../vendor/fonts/Stolzl-Medium.eot");
    src:
        url("../../vendor/?#iefix") format("embedded-opentype"),
        url("../../vendor/fonts/Stolzl-Medium.woff2") format("woff2"),
        url("../../vendor/fonts/Stolzl-Medium.woff") format("woff"),
        url("../../vendor/fonts/Stolzl-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Stolzl";
    src: url("../../vendor/fonts/Stolzl-Thin.eot");
    src:
        url("../../vendor/fonts/Stolzl-Thin.eot?#iefix") format("embedded-opentype"),
        url("../../vendor/fonts/Stolzl-Thin.woff2") format("woff2"),
        url("../../vendor/fonts/Stolzl-Thin.woff") format("woff"),
        url("../../vendor/fonts/Stolzl-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Stolzl";
    src: url("../../vendor/fonts/Stolzl-Regular.eot");
    src:
        url("../../vendor/fonts/Stolzl-Regular.eot?#iefix") format("embedded-opentype"),
        url("../../vendor/fonts/Stolzl-Regular.woff2") format("woff2"),
        url("../../vendor/fonts/Stolzl-Regular.woff") format("woff"),
        url("../../vendor/fonts/Stolzl-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Stolzl";
    src: url("../../vendor/fonts/Stolzl-Light.eot");
    src:
        url("../../vendor/fonts/Stolzl-Light.eot?#iefix") format("embedded-opentype"),
        url("../../vendor/fonts/Stolzl-Light.woff2") format("woff2"),
        url("../../vendor/fonts/Stolzl-Light.woff") format("woff"),
        url("../../vendor/fonts/Stolzl-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Stolzl";
    src: url("../../vendor/fonts/Stolzl-Bold.eot");
    src:
        url("../../vendor/fonts/Stolzl-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../vendor/fonts/Stolzl-Bold.woff2") format("woff2"),
        url("../../vendor/fonts/Stolzl-Bold.woff") format("woff"),
        url("../../vendor/fonts/Stolzl-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
